__pycache__/

scripts/*
uploads/*
output/*
other/*
vech_modules/app/static/iou/*
.vscode/
app/.sass-cache/*
.sass-cache/*
tests/node_modules/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vendor/

.idea
.DS_Store
*.ipynb

credentials.pkl
gcontacts_token.pickle
config/config_db_local.json
config/config_db_test.json
diffcheck/


app/logs/production.log